
        {{ page.page_top }}

        <header id="header">
            {{ page.header }}
            <img id="logo" src="themes/custom/catalyst/images/catalyst-logo.png" alt="Catalyst PwC logo">
            {{ page.login }}
        </header>


        <div class="container-fluid container-fluid-bg">
            <section id="hero">
                <div class="row">
                    <div class="col-xs-12 col-lg-7 mkt-txt">
                        {{ page.hero }}
                        <h1 id="hero">REDUCING PROJECT MANAGEMENT COSTS BY 40%</h1>
                        <h4 id="hero">WHILE DRAMATICALLY IMPROVING QUALITY</h4>
                    </div><!-- column -->

                    <div id="hero-bg" class="col-xs-12 col-lg-5"></div><!-- hero image column --> 
                </div><!-- row --> 
            </section><!-- hero section --> 
        </div><!-- container-fluid -->
        


       
        <!-- The Challenge Section -->
        <div class="container border challenge-block center-block bg">
            <div class="row">
                <div class="col-xs-12">
                {{ page.challenge }}
                    <img id="design-image" class="center-block img-responsive" src="themes/custom/catalyst/images/design.png" alt="design image">
                    <section id="the-challenge" class="center-block">
                        <h2>The Challenge</h2>
                        <h4 class="line-space">"Only 2.5% of companies successfully complete 100% of their projects."  ~ PwC Study</h4>
                        <p class="line-space"><strong>High and inflexible cost of delivery</strong><br />Leads to wide variances between estimated vs. delivered costs</p>
                        <p class="line-space"><strong>Limited transparency and portfolio view</strong><br />Results in ineffective decision making at the portfolio- and program-level</p>
                        <p class="line-space"><strong>Inconsistent staff performance</strong><br />Produces manually intensive deliverables, inconsistent quality, limited performance measurement</p>
                        <p class="line-space"><strong>Skillset mismatch vs. project requirements</strong><br />Engenders senior resources stretched thin, unable to allocate bandwidth to higher value tasks</p>
                        <!--<a target="blank" href="">
                            <button type="button" class="btn btn-lg center-block button">Learn more</button>
                        </a>-->   
                    </section><!-- the-challenge --> 
                </div><!-- column --> 
            </div><!-- row --> 
        </div><!-- container -->
        
        
        <!-- The Desktop Platform Section -->
        <div id="desktop-section" class="container-fluid container-fluid-bg">
            <div class="row">
                <div class="col-xs-12 col-sm-10 col-lg-8 col-sm-offset-1 col-md-offset-1 col-lg-offset-2">
                    <section class="content center-block">
                    {{ page.desktop }}
                        <img class="bi-image img-responsive" alt="image" src="themes/custom/catalyst/images/touch.png">
                        <h4>Mobile or Desktop Platform</h4>
                        <h2>Business Intelligence</h2>
                        <p>This is one of our most popular services available. It’s made a big difference for many of our customers, and is provided with the highest level of transparency. With this service, we ensure all details are simple, seamless and handled in a timely manner. Whenever you work with Catalyst, you can trust that you’re in great hands.</p>
                        <div class="button-position">
                        <a target="blank" href="https://tableau.analytics.pwc.com/#/site/PNWARCADemoEnvironment/views/PwCCatalystDashboard/PwCCatalyst?:iid=2">
                            <button type="button" class="btn btn-lg portfolio-mgmt-button">Desktop Portfolio Mgmt Demo</button>
                        </a>
                        <a target="blank" href="https://tableau.analytics.pwc.com/#/site/PNWARCADemoEnvironment/views/PwCCatalystDashboard/PwCCatalyst?:iid=2">
                            <button type="button" class="btn btn-lg resource-mgmt-button">Desktop Resource Mgmt Demo</button>
                        </a>
                        </div>
                    </section>
                </div><!-- main column -->
            </div><!-- row -->
        </div><!-- container-fluid -->
        
        <!-- The Mobile Platform Section -->
        <div id="mobile-section" class="container-fluid container-fluid-bg">
            <div class="row">
                <div class="col-xs-12 col-sm-10 col-lg-8 col-lg-offset-1 col-sm-offset-0">
                {{ page.mobile }}
                    <section id="phone-block" class="content center-block">
                        <!-- <img class="bi-image img-responsive" alt="image" src="images/phone.jpg"> -->
                        <h2>Mobile App (New)</h2>
                        <p>As we continue to digitize:</p>
                        <div class="button-position">
                        <a target="blank" href="https://pwc.invisionapp.com/share/M7BV2T4KF#/">
                            <button type="button" class="btn btn-lg center-block mobile-featured-button">Featured Demo</button>
                        </a>
                        </div>
                    </section>
                </div><!-- main column -->
            </div><!-- row -->
        </div><!-- container-fluid -->
        
        <footer>
            <div class="row">
                <div class="col-xs-12">
                    <section class="social-media-block content center-block">
                        {{ page.footer }}
                        <p>Follow</p>
                        <a href="https://twitter.com/PwC_LLP?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor" target="blank"><img class="social-media" src="/images/twitter.png" alt="Twitter"></a>
                        <a href="https://www.linkedin.com/company-beta/1044/" target="blank"><img class="social-media" src="/images/linkedin.png" alt="LinkedIn"></a>
                    </section>
                </div><!-- main column -->
            </div><!-- row -->
        </footer>
        {{ page.page_bottom }}
